@import 'partials/normalise';
@import 'variables/colors';

body {
  background-color: $blue;
  font-size: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  height: auto;
}

header {
  nav {
    background-color: $pink;
    & > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline;
        a {
          display: inline-block;
          color: $blue;
          text-decoration: none;
            padding: 0.3rem 1rem;
        }
      }
    }
  }

  img {
    display: block;
  }
}

main {


  section {

    label {
      padding-right: 1rem;
      display: inline-block;
    }

    &.col1, &.col2 {
          padding: 1rem;

          h1 {
            margin-top: 0;
          }
    }

    &.col1 {
      box-sizing: border-box;
      width:100%;
      float: left;
      height: auto;

      &.login {
        background-color: cyan;

        .inputRow {
          display: block;
          float: left;

          label, input {
            float: left;
            margin-right: 1rem;
          }
        }

      }
    }

    &.col2 {
      box-sizing: border-box;
      width:50%;
      float: left;

      #date {
        .input {
          margin-bottom: 1rem;
        }
      }
      select {
        width: 100%;
      }

      &.peepz {
        background-color: yellow;
      }

      &.date {
        background-color: green;
      }
    }


  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.error {
  background-color: $red;
}

.errorMsg {
  margin-left: 0.5rem;
  float: left;
}

.logout {
  float: right;

  button {
    margin-left: 1rem;
  }
}

#availability {
  display: none;
}

.adminContent {
  display: none;
}
